---
volumes:
  config:
  data:
  translations:
  documents:
  images:
  temp:
  log:
  keys:

services:
  app:
    image: ghcr.io/hargata/lubelogger:latest
    restart: unless-stopped
    volumes:
      - config:/App/config
      - data:/App/data
      - translations:/App/wwwroot/translations
      - documents:/App/wwwroot/documents
      - images:/App/wwwroot/images
      - temp:/App/wwwroot/temp
      - log:/App/log
      - keys:/root/.aspnet/DataProtection-Keys
    ports:
      - 8181:8080
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lubelogger.rule=Host(`garage.benpen.home`)"
      - "traefik.http.routers.lubelogger.entrypoints=web"
      - "traefik.http.services.lubelogger.loadbalancer.server.url=http://{{ansible_facts['default_ipv4']['address']}}:8181"
